h1 {
  text-align: center;
  margin-top: 30px;
}

.alta-container{
  width: 80%;
  margin: 0 auto;

  .alta-container__form {
    height: 100%;
    width: 100%;
    margin: 10px auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid black;
    height: 100%;
    text-align: center;

    .input-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px auto;

      .validator-cartel{
        display: none;
        width: 500px;
        height: 30px;
        background-color: yellow;
        border: 2px solid red;
      }

      .alta-label {
        width: 100%;
        display: block;
        margin: 5px auto;
        font-weight: var(--bold-font);
      }
      input {
        width: min(80%, 500px);
        height: 30px;
      }

      ::placeholder {
        padding-left: 5px;
      }

      #details {
        width: min(72%, 430px);
        height: 90px;
        margin-bottom: 10px;
      }

      #foto {
        width: 10em;
        margin: 5px auto;
      }
    }

    .free-shipping {
      width: 100%;
      height: 31px;
      font-weight: var(--bold-font);
    }

    #submit-btn {
      margin: 20px auto;
      width: min(40%, 200px);
      height: 4vh;
      font-weight: var(--bold-font);
    }

    

  }

  table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table {
      width: 90%;
  }

  #product-list {
      width: 100%;
  }

  th,td {
      padding: 5px;
  }
}